# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Sass / Build Artifacts
assets/css/styles.css
assets/css/styles.css.map

# Ruby
vendor/
.bundle/
.ruby-lsp/
.ruby-version

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.stylelintcache

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

assets/css/styles.temp.css
assets/css/styles.temp.css.map
