# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Ruby
vendor/bundle/
.bundle/
.ruby-lsp/
.ruby-version # Optional: ignore if you want to allow different versions locally

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary / Debris
research-website/
