// ==========================================================================
// COMPONENTS: NAVIGATION
// ==========================================================================
// Navigation link component with underline animation

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// --------------------------------------------------------------------------
// NAVIGATION LINK
// --------------------------------------------------------------------------
.nav-link {
  position: relative;
  font-weight: $font-weight-medium;
  color: $neutral-500;

  @include transition(color);

  @include dark-mode {
    color: $neutral-400;
  }

  &:hover {
    color: $neutral-900;

    @include dark-mode {
      color: #fff;
    }
  }

  // Animated underline
  &::after {
    content: '';
    position: absolute;
    bottom: -$spacing-1;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $accent;
    transform: scaleX(0);
    transform-origin: right;

    @include transition(transform, $transition-duration-slow);
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  // Active state modifier
  &--active {
    color: $neutral-900;
    font-weight: $font-weight-semibold;

    @include dark-mode {
      color: #fff;
    }
  }
}
